<% items.each do |items| %>
<div class="listitem">
<h2><%= items.item_title %></h2>
  <%= simple_format(Sanitize.fragment(items.item_text, Sanitize::Config.merge(Sanitize::Config::BASIC,
  :elements        => %w[
  a abbr b blockquote cite code dd dfn dl dt em i kbd li mark ol p pre
  q s samp small strike strong sub sup time u ul var
])).gsub(/^[\s]*$\n/, "").strip) %>
</div>
<% end %>
<%= paginate items %>
<%= page_entries_info items %>