<div class="staticContent">
<div class="heading">
<h2>Web Club Developers</h2>
<p>The Web Development Club organizes tutorials on a bi-weekly bases on various topics of Web Development to better prepare students for both the competitive job market as well as preparing students for Toronto's entrepreneurship scene.</p>
</div>

<h2>Executives</h2>
			<h3>Tutorial Team</h3>
			<p>The Tutorials Team of the Web Development Club is responsible for organizing web development related tutorials for students. They hold seminars often once every two weeks. Their past tutorial links are posted on the right and you can check our main page for information on future events.</p>
			<ul>
				<li>Rakshit Shukla [Leader]</li>
				<li>Suhail Dawood</li>
				<li>Francesco Gramano</li>
			</ul>

			<h3>Event Team</h3>
			<p>The Event Team of the Web Development Club is responsible for organizing non- tutorial events such as the Research and Entrepreneur Expo as well as connecting and bringing outside companies and clubs for recruiting events and talks.</p>
			<ul>
				<li>Dhyey Sejpal [Leader]</li>
				<li>Carlos Lee</li>
				<li>engwei Guo</li>
			</ul>


			<h3>Project Team</h3>
			<p>The Tutorials Team of the Web Development Club is responsible for organizing web development related tutorials for students. They hold seminars often once every two weeks. Their past tutorial links are posted on the right and you can check our main page for information on future events.</p>
			<ul>
				<li>Suhail Dawood [Leader]</li>
				<li>Alan Yuan</li>
				<li>Katie Lo</li>
			</ul>

<h2>Past Tutorial Links</h2>
			<strong>Introduction to HTML, CSS and Javascript</strong>		
			<p>Our tutorials leader, Rakshit, kicked of this year's series of seminars with an introduction to all the basic components of front end web development.</p>
			<p>Here are the resources from the first tutorial.</p>
			<ul>
				<li><a href="http://webdevclubtut1.paperplane.io">Presentation Slides</a></li>
				<li><a href="https://github.com/cadz7/Web-Dev-Club-tutorial1/tree/master/tutorial1-live-code">Source Code to build portfolio WebSite</a></li>
				<li><a href="http://fortawesome.github.io/Font-Awesome/icons/">Font-Awesome Icons</a></li>
			</ul>
			<strong>Introduction to Web Design</strong>
			<p>Suhail, an experienced developer of many years, introduced the club to numerous development techniques and the basics of designing your first site.</p>	
			<ul>
				<li><a href="http://www.suhaildawood.com/wdc/assets/player/KeynoteDHTMLPlayer.html">Presentation Slides</a></li>
			</ul>
</div>