<div class="panel">

	<div class="panel-header bg-lightBlue fg-white">
		Web Club Developers
	</div>  
			
	<div class="panel-content">
		The Web Development Club organizes tutorials on a bi-weekly bases on various topics of Web Development to better prepare students for both the competitive job market as well as preparing students for Toronto's entrepreneurship scene.
		<br>

	</div>
</div>

<br>

<div class="panel"">
			
	<div class="panel-header bg-darkRed fg-white">
		Tutorial Team Executives
	</div>  
			
	<div class="panel-content">
		<p>The Tutorials Team of the Web Development Club is responsible for organizing web development related tutorials for students. They hold seminars often once every two weeks. Their past tutorial links are posted on the right and you can check our main page for information on future events.</p>
		<b>Executives:</b>
		<li><i class="icon-newspaper"></i> Rakshit Shukla [Leader]</li>
		<li><i class="icon-newspaper"></i> Suhail Dawood</li>
		<li><i class="icon-newspaper"></i> Francesco Gramano</li>

	</div>
</div>

<div class="panel">
			
	<div class="panel-header bg-darkRed fg-white">
		Event Team Executives 
	</div>  
			
	<div class="panel-content">
		<p>The Event Team of the Web Development Club is responsible for organizing non- tutorial events such as the Research and Entrepreneur Expo as well as connecting and bringing outside companies and clubs for recruiting events and talks.</p>
		<b>Executives:</b>
		<li><i class="icon-newspaper"></i> Dhyey Sejpal [Leader]</li>
		<li><i class="icon-newspaper"></i> Carlos Lee</li>
		<li><i class="icon-newspaper"></i> Hengwei Guo</li>
	</div>
</div>

<div class="panel">
			
	<div class="panel-header bg-darkRed fg-white">
		Project Team Executives
	</div>  
			
	<div class="panel-content">
		<p>The Tutorials Team of the Web Development Club is responsible for organizing web development related tutorials for students. They hold seminars often once every two weeks. Their past tutorial links are posted on the right and you can check our main page for information on future events.</p>
		<b>Executives:</b>
		<li><i class="icon-newspaper"></i> Suhail Dawood [Leader]</li>
		<li><i class="icon-newspaper"></i> Alan Yuan</li>
		<li><i class="icon-newspaper"></i> Katie Lo</li>
	</div>
</div>

	<div class="panel">
			<div class="panel-header">
				Past Tutorial Links
			</div>
		<div class="panel-content">

			<h5><i class="icon-mail"></i> Introduction to HTML, CSS and Javascript</h5>
			
			<p>Our tutorials leader, Rakshit, kicked of this year's series of seminars with an introduction to all the basic components of front end web development.</p>
			<p>Here are the resources from the first tutorial.</p>
			<a href= "http://webdevclubtut1.paperplane.io">Presentation Slides</a><br/>
			<a href= "https://github.com/cadz7/Web-Dev-Club-tutorial1/tree/master/tutorial1-live-code">Source Code to build portfolio WebSite</a><br/>
			<a href= "http://fortawesome.github.io/Font-Awesome/icons/">Font-Awesome Icons</a><br/>
			<h5><i class="icon-file"></i> Introduction to Web Design</h5>
			<p>Suhail, an experienced developer of many years, introduced the club to numerous development techniques and the basics of designing your first site.</p>	
			<a href= "http://www.suhaildawood.com/wdc/assets/player/KeynoteDHTMLPlayer.html">Presentation Slides</a>

		</div>
	</div>