<h1>Events</h1>
<div class="list">
<% @events.each do |events| %>
<div class="listitem">
<h2><%= events.item_title %></h2>
  <%= events.item_text.html_safe %>
</div>
<% end %>
<%= paginate @events %>
<%= page_entries_info @events %>
</div>