<div class="staticContent">
<div class="heading">
<h2>Entrepreneur and Research Expo</h2>
<p>The entrepreneur and research expo is the Web Development Club's signature event. Every year, we bring together researchers and entrepreneurs looking to recruit computer science students for their projects and venture. We intend to bring together around 20 startups and researchs to each pitch their projects for 5-7 minutes infront of a large audience and later give students an opportunities to discuss about future participation.</p>
</div>

<h2>Next Expo:</h2>
<h3>Expo Date:</h3>
<p>TBA</p>
<h3>Location:</h3>
<p>Bahen Center, Room 1130. <br> University of Toronto</p>
<h3>Schedule:</h5>
<p>3-5 Presentations [Bahen Center, Room 1130]<br>
5-7 Networking Session [Bahen Center, Great Hall]</p>
<h3>Contact:</h5>
<p>alan.yuan@mail.utoronto.ca</p>

<h2>Expo Participants</h2>
<p>Registered Participants: <%= @number_of_participants %></p>
            <% if user_signed_in? %>
              <% if !@account_setting %>
                  <%= button_to "Register for the Expo", '/register_expo', :form_class => "form-p" %>
              <% else %>
                  <p>Thank you for registering.</p>
				  <%= button_to "Unregister", '/unregister_expo', :form_class => "form-p" %>
              <% end %>
            <% else %>
              <p>You need to <%= link_to("login", new_user_session_path) %> to register</p>
            <% end %>

          <h2>Presenters:</h2>
			<p>TBA</p>
</div>