<div class="row">
	<div class="col-md-8">
		<h2>WDC Leadership</h2>
		<hr>
		    <p>The Web Development Club is lead by students from the Department of Computer Science at the University of Toronto. Our leadership team is commited to helpping both our members and the Computer Science community with Academic and Career</p>
	</div>

	<div class="col-md-4">
		<div class="row" style="height:50px"></div>

    	<div class="thumbnail">
	      <div class="caption">
	        <h3>Past Leaders:</h3>
	        <hr>



	      </div>
	    </div>
  </div>

</div>
