
	            Here are all the News Updates, reminders submitted by the department and various Computer Science Leaders. <br>
<div class="list">
<h1>Jobs</h1>
<% @jobs.each do |jobs| %>
<div class="listitem">
<h2><%= jobs.item_title %></h2>
  <%= jobs.item_text.html_safe %>
</div>
<% end %>
<%= paginate @jobs %>
<%= page_entries_info @jobs %>
</div>