<div class="row">
	<div class="col-md-12">
		<h2>Jobs and Research Opportunities</h2>
		<hr>
	</div>
</div>

<%if user_signed_in? %>

	<p>Would you like us to share a job offer?<p>
	<%= link_to "Click here to post", "/user_info" %>

<% else %>

	<p>Would you like us to share a Job offer?<p>
	<%= link_to "Login to post", new_user_session_path %>

<% end %>

<div class="list">
<%= render "pagination", :items => @jobs %>
</div>