<div class="staticContent">
<div class="heading">
</div>
<h2>About Mailing System</h2>
<p>We have worked extensively with the other clubs and the department of computer science to coordinate a department wide mailing system that seeks to include all future Computer Science related events, jobs and anouncements in one location for efficient management.</p>
</div>