<div class="span5">

    <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
              News Updates
        </div>  
                
        <div class="panel-content">
            Here are all the News Updates, reminders submitted by the department and various Computer Science Leaders. <br>
        </div>
    </div>
</div>
	<div class="list">
            <h1>News</h1>
<%= render "pagination", :items => @news %>
	</div>
	
	