<script>
	function sendAJAX(){
		var search = $(".form-control").val();

		var request = {
		    search_params: search
		  }

		$.ajax({
			url: '/search_feedbank',
			type: "post",
			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
			dataType: "html",
			success: function(data) {

			    if (data){
			       	$("#search_results").html(data);
			        	$("#pagination").addClass("hidden_class");
			        } else {
			        	$("#search_results").addClass("hidden_class");
			        	$("#pagination").removeClass("hidden_class");
			        }
			},
			    data: request
		})
	}


	function addSearch(){

		$('#input_s').unbind('keyup');
		$('#search').unbind('click');

		$("#input_s").keyup(function (e) {
		    if (e.keyCode == 13) {
		    	sendAJAX()
		    	$("#suggestions").addClass("hidden_class")
		    } else {
		    	$("#suggestions").removeClass("hidden_class")
		    }
		});

		$("#input_s").click(function(){
			$("#suggestions").removeClass("hidden_class")
		});

	    $("#search").click(function(){
			sendAJAX()
		});

		$('html').click(function() {
			if (!($("#suggestions").hasClass("hidden_class"))){
				$("#suggestions").addClass("hidden_class")
			}
		});

		$('#stop_propagation').click(function(event){
		    event.stopPropagation();
		});


  	}

  	$(document).ready(addSearch);
  	$(document).on('page:load', addSearch);

</script>

<div class="row">
	<div class="col-md-12">
		<h2>Events and News Updates</h2>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-7">
		<%if user_signed_in? %>

			<p>Would you like us to share a news or event?_<p>
			<%= link_to "Click here to post", "/user_info" %>

		<% else %>

			<p>Would you like us to share a news?<p>
			<%= link_to "Login to post", new_user_session_path %>

		<% end %>
	</div>

	<div class="col-md-5" id = "stop_propagation">

	    <div class="input-group">

	      	<input type="text" class="form-control has-error" placeholder="Search for..." id="input_s">

	      	<span class="input-group-btn">
	        <button class="btn btn-default" type="button" id="search">Search</button>
	      </span>
	    </div>

	    <div class="list-group hidden_class" id="suggestions">
			<a href="#" class="list-group-item">
			  Cras justo odio
			 </a>
			<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
			<a href="#" class="list-group-item">Morbi leo risus</a>
			<a href="#" class="list-group-item">Porta ac consectetur ac</a>
			<a href="#" class="list-group-item">Vestibulum at eros</a>
		</div>

    </div>


</div>

<div class="list" id="pagination">
	<hr>
	<%= render "pagination", :items => @news %>
</div>

<div id="search_results" class="list">

</div>