<div class="page_header">
Here are all the News Updates, reminders submitted by the department and various Computer Science Leaders.
</div>
<h1>News</h1>
<div class="list">
<%= render "pagination", :items => @news %>
</div>