<h1>Events/ News</h1>

<%if user_signed_in? %>

	<p>Would you like us to share an event or news update?<p>
	<%= link_to "Click here to post", "/user_info" %>

<% else %>

	<p>Would you like us to share an event or news update?<p>
	<%= link_to "Login to post", new_user_session_path %>

<% end %>

<div class="list_description">

</div>
<div class="list">
<%= render "pagination", :items => @news %>
</div>