<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello, <%= @user.name %></h2>
    <p>Web Club Automated Email System. The content is generated based on your settings</p>
    <br>
    <p>To modify your settings, login to www.uoftweb.com</p>
    <br>
    <p>Please email the site admin at alan.yuan@mail.utoronto.ca for any complaints</p>
    
    <br>

    <h2>Club Meetings</h2>

    <% @feedbanks.each do |post| %>
      <h4><%= post.item_title %></h4>
      <p style="white-space:pre-wrap;"><%= post.item_text %></p>
    <% end %>
    <br>

    <p>Thanks, <br>
    Web Development Club</p>
  </body>
</html>