<script>

  function initialize(){
      //Initialize the object defined in Your Posts
    console.log("Initalize")
    if (typeof pageObject == "undefined"){
      pageObject = new pageIndex(<%= @feedbank_posts.length %>, "jobPosts", "pagenumber");   
    } 
    pageObject.initialize('.a_userposts', 'posts');

    var selected = "Job Post"

    $( "#selectType" ).change(function() {
        if (selected == "Job Post") {
          console.log(selected)
          $( "#eventBlock" ).removeClass("hidden_class")

        } else if (selected == "Event Post") {
          console.log(selected)
          $( "#jobBlock" ).removeClass("hidden_class")
        } else {
          $( "#jobBlock" ).removeClass("hidden_class")
          $( "#eventBlock" ).removeClass("hidden_class")
        }

        selected = $(this).find('option:selected').text()

        if (selected == "Job Post") {
          $( "#eventBlock" ).addClass("hidden_class")
        }

        else if (selected == "Event Post") {
          $( "#jobBlock" ).addClass("hidden_class")
        } 

        else {
          $( "#jobBlock" ).addClass("hidden_class")
          $( "#eventBlock" ).addClass("hidden_class")
        }
    });
 }

  $(document).ready(initialize);
  $(document).on('page:load', initialize);

</script>

<h4>Posting Panel</h4>
<br>

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Mail_admin" data-toggle="tab">Add New Post</a></li>
       <li><a href="#Unapproved_posts" data-toggle="tab">Your Posts</a></li>
    </ul>

    <div class="tab-content" > 

        <div class="tab-pane active" id="Mail_admin">
            <div class="panel-content">
                <%= render :partial => "users/userPartial/postPanel" %>
            </div>
        </div>

        <div class="tab-pane" id="Unapproved_posts" onclick="initialize()">
            <div class="panel-content" id="userPosts">
               <%= render :partial => "users/userPartial/userFeedbankPosts" %>
            </div>
        </div>

    </div>
</div>
