<script>

  function buttonApprove(){

    $(".approval").click(function(){

      var status = $(this).attr('data-id');
      var request = {
        feedbank_id: current_id,
        approval_status: status
      }

      $.ajax({
        url: '/approve_post',
        type: "post",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: "json",
        success: function(data) {

          console.log("hi")
          $("#panel_content").addClass("hidden_class");
          $(".Clicked").remove();

        },
        data: request
      })

    });

  }

  function addClick(){

    console.log("Click: Request AJAX Information");

    $(".a_admin").click(function(){

      current_id = $(this).attr('data-id');
      var request = {
        id: current_id,
      }
      $(this).addClass("Clicked");

      $.ajax({
        url: '/request_information',
        type: "post",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: "json",
        success: function(data) {

          data = data[0];

          $("#panel_content").removeClass("hidden_class");
          $("#postTitle").html(data.item_title);
          $("#postURL").html(data.item_url);
          $("#postDate").html(data.item_date);
          $("#postText").html(data.item_text);

        },
        data: request
      })

    });

  };

  function ajaxRequest(){

      console.log("Send AJAX Request");

      var update = {
          lastcheck: last_timestamp
      }

      $.ajax({
        url: '/check_admin_updates',
        type: "post",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        dataType: "json",
        success: function(data) {
          last_timestamp = data.last_timestamp;
          for (var i=0; i < data.unconfirmed_titled.length; i++){
            $("#itemPosts2").prepend("<li class='list_li'><a id='Unitialized' class='a_admin'>Uninitialized</a></li>");

            $('#Unitialized').html(data.unconfirmed_titled[i]).attr("data-id", data.unconfirmed_id[i]).removeAttr('id');

          }

        },
        data: update
      })

  };

  $(document).ready(setupHTTP);
  $(document).on('page:load', setupHTTP);

  var handle;
  var last_timestamp = new Date();
  var current_id;

  function setupHTTP() {
    //Turbo links, we want to ensure the handle is designed
      clearInterval(handle);

      handle = window.setInterval(function(){
        ajaxRequest();
      }, 10000);

      addClick();
      buttonApprove();

  };

</script>

<h4>Administrator Panel</h4>
<br>

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#Mail_admin" data-toggle="tab">Mail Administrator</a></li>
       <li><a href="#Unapproved_posts" data-toggle="tab">Unapproved Posts</a></li>
    </ul>

    <div class="tab-content"> 

        <div class="tab-pane active" id="Mail_admin">
            <div class="panel-content">
                <%= render :partial => "users/userPartial/mailAdmin" %>
            </div>
        </div>

        <div class="tab-pane" id="Unapproved_posts">
            <div class="panel-content">
              <%= render :partial => "users/userPartial/unapprovedPosts" %>
            </div>
        </div>

    </div>
</div>
