<% content_for :head do %>
<% end %>

<script>

	function pave_navgiation2(direction){

		if (direction == 0){
			$("#Unapproved_posts").removeClass("hidden_class");
			$("#Mail_admin").addClass("hidden_class");
			$("#User_accoun").addClass("hidden_class");
		} else if (direction == 1) {
			$("#Unapproved_posts").addClass("hidden_class");
			$("#Mail_admin").removeClass("hidden_class");
			$("#User_accoun").addClass("hidden_class");
		} else {
			$("#Unapproved_posts").addClass("hidden_class");
			$("#Mail_admin").addClass("hidden_class");
			$("#User_accoun").removeClass("hidden_class");
		}
	}

</script>

<hr>

<div class="btn-group" role="group" aria-label="Mail Navigators">
  <button type="button" class="btn btn-default" onclick="pave_navgiation2(0)">Unapproved Posts</button>
  <button type="button" class="btn btn-default" onclick="pave_navgiation2(1)">Mail Administration</button>
  <button type="button" class="btn btn-default" onclick="pave_navgiation2(2)">User Accounts</button>
</div>

<hr>

<div id="Unapproved_posts">
	<%= render :partial => "users/userPartial/unapprovedPosts" %>
</div>

<div id="Mail_admin" class="hidden_class">
	
</div>

<div id="User_accoun" class="hidden_class">
	
</div>




