<% content_for :head do %>
<% end %>

<h4>Administrator Panel</h4>

<br>

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
       <li class="active"><a href="#Unapproved_posts" data-toggle="tab">Unapproved Posts</a></li>
       <li><a href="#Mail_admin" data-toggle="tab">Mail Administrator</a></li>
    </ul>

    <div class="tab-content" > 
      	<div class="tab-pane active" id="Unapproved_posts">
            <div class="panel-content">
            	<%= render :partial => "users/userPartial/unapprovedPosts" %>
            </div>
        </div>

        <div class="tab-pane" id="Mail_admin">
            <div class="panel-content">
            	<%= render :partial => "users/userPartial/mailAdmin" %>
            </div>
        </div>

    </div>
</div>
