<hr><h4>CS NewsLetter Generator</h4>

<p>Mail Entries Selected: <%= @current_user.news_letter_mail.news_letter_entries.count %>

<%= button_to "Generate NewsLetter", '/generate_newsletter', class: "btn btn-default", :target => "_blank" %>
<br>

<%= form_for @current_user, :url => url_for(:controller => "users", 
	:action => "mail_delete_dependencies"), :remote => true do |f|%>

	<%= f.submit "Reset Selection", class: "btn btn-default" %>
<% end %>