<h4>Mail Generator Panel</h4>
<br>

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
       <li class="active"><a href="#Generate_Items" data-toggle="tab">Select Posts</a></li>
       <li><a href="#Generate_Tibbits" data-toggle="tab">Add Additional Entries</a></li>
       <li><a href="#Generate_Ordering" data-toggle="tab">Select Ordering</a></li>
    </ul>

    <div class="tab-content">
      	<div class="tab-pane active" id="Generate_Items">
            <div class="panel-content">
            	<%= render :partial => "users/userPartial/generateItems" %>
            </div>
        </div>

        <div class="tab-pane" id="Generate_Tibbits">
            <div class="panel-content">
            	<%= render :partial => "users/userPartial/generateTibbits" %>
            </div>
        </div>

        <div class="tab-pane" id="Generate_Ordering">
            <div class="panel-content">
            	<%= render :partial => "users/userPartial/generateOrdering" %>
            </div>
        </div>

    </div>
</div>
