
<hr>

<div class="row">

	<p>Update the mailing server by sending any out of date emails</p>
	<br>
	<p>The number of people who will recieve email is: </p>

	<%= form_for @current_user, :url => url_for(:controller => "users", 
	    :action => "send_mail"), :remote => true do |f| %>

	    <%= f.submit "Send Update Email", class: "btn btn-default btn-med" %>

	<% end %>

	<br>
	<p>[Testing only!: Revert the Admin nextsend to an earlier date]</p>
	<br>

	<%= form_for @current_user, :url => url_for(:controller => "users", 
	    :action => "revert_time"), :remote => true do |f| %>

	    <%= f.submit "Revert Time", class: "btn btn-default btn-med" %>

	<% end %>

</div>