<script>

	function pave_navgiation(direction){

		if (direction == 0){
			$("#Generate_Items").removeClass("hidden_class");
			$("#Generate_Tibbits").addClass("hidden_class");
			$("#Generate_Ordering").addClass("hidden_class");
		} else if (direction == 1) {
			$("#Generate_Items").addClass("hidden_class");
			$("#Generate_Tibbits").removeClass("hidden_class");
			$("#Generate_Ordering").addClass("hidden_class");
		} else {
			$("#Generate_Items").addClass("hidden_class");
			$("#Generate_Tibbits").addClass("hidden_class");
			$("#Generate_Ordering").removeClass("hidden_class");
		}
	}

</script>

<hr>

<div class="btn-group" role="group" aria-label="Mail Navigators">
  <button type="button" class="btn btn-default" onclick="pave_navgiation(0)">Select Posts</button>
  <button type="button" class="btn btn-default" onclick="pave_navgiation(1)">Additional Entries</button>
  <button type="button" class="btn btn-default" onclick="pave_navgiation(2)">Select Ordering</button>
</div>

<hr>

<div id="Generate_Items">
	<%= render :partial => "users/userPartial/generateItems" %>
</div>

<div id="Generate_Tibbits" class="hidden_class">
	<%= render :partial => "users/userPartial/generateTibbits" %>
</div>

<div id="Generate_Ordering" class="hidden_class">
	<%= render :partial => "users/userPartial/generateOrdering" %>
</div>


