<h4>Add New Post</h4>

<div id="panel-error">
    <%= render :partial => "feedbanks/feedbankpartial/feedbankerror" %>
</div>

<p>We warmly welcome any Job Offers, Research Offers, Event Posts and News Updates that may be relevant to the Computer Science Department. Your post will be listed as soon as it is approved by the DCS administrator.</p>

<% if current_user.account_setting.admin or current_user.account_setting.news_admin %>
    <p><b>Note:</b> As Admin, your posts will be automatically approved</p>
<% end %>

<div id="create-panel">
    <%= render :partial => "feedbanks/feedbankpartial/createfeedbank" %>
</div>