<h3>Help Section </h3><hr>
<h4>Customized Mailing</h4>

<p>The Web Development Club would like to keep you posted with new job offers, entrepreneurship events and research opportunities. We would like to give you the freedom to customize these settings to better fit your needs. We will mailing them into your inbox based on your settings.</p>

<hr>

<h4>Content Creator</h4>
<p>We apprepicate the continued support of the students as well as the student leaders in bringing many of these events to our attention. If you would like to post anything for other students to view, please request to become a Content Creator under the Content Creator Tab</p>

<hr>

<h4>Webpage Development</h4>
<p>The custom mailing system is currently designed for the Computer Science Department. I would like to personally expand a similar system for the engineering department as well as all other departments inside the University. If would like to make this a reality, please send me an email at alan.yuan@mail.utoronto.ca</p>
			
<br>
