<h4>Here are your Mailing Settings</h4>

<p>Your Email will be sent in a frequency of <%= @mail_setting.email_frequency %> days</p>

<br>

<% if @mail_setting.news %>
	<p><i class='icon-checkmark'></i>  Your Email <b>will</b> include News Updates</p>
<% else %> 
	<p><i class='icon-cancel-2'></i>  Your Email <b>will not</b> include News Updates</p>
<% end %>
			
<br>

<% if @mail_setting.research %>
	<p><i class='icon-checkmark'></i>  Your Email <b>will</b> include Research Opportunities</p>
<% else %> 
	<p><i class='icon-cancel-2'></i>  Your Email <b>will not</b> include Research Opportunities</p>
<% end %>

<br>

<% if @mail_setting.jobs %>
	<p><i class='icon-checkmark'></i>  Your Email <b>will</b> include Job Updates</p>
<% else %> 
	<p><i class='icon-cancel-2'></i>  Your Email <b>will not</b> include Job Updates</p>
<% end %>

<br>

<% if @mail_setting.events %>
	<p><i class='icon-checkmark'></i>  Your Email <b>will</b> include Events</p>
<% else %> 
	<p><i class='icon-cancel-2'></i>  Your Email <b>will not</b> include Events</p>
<% end %>

<br>

	<%= button_to "Update Settings", '/update', {:class => "large"} %>
</div>