<h4>Posting Categories</h4>

<p><b>News:</b> Any news relevant to UofT Computer Science Students. Advertisement is not acceptable</p>

<p><b>Job Post:</b> Any paid summer, full-time, part-time, PEY positions. Posts are more strictly inforced. Posts by small startups e.g. startups from the Next 36 incubators will be moved directly to the informal job post.</p>

<p><b>Informal Job Post:</b> Contract positions, Looking for CoFounders, looking for Tutors, unpaid positions, e.t.c [Rules are relaxed compared to Job Posts]</p>

<p><b>Event Post:</b> Any events relevant to UofT Computer Science Students</p>

<p><b>Research Post:</b> Any posts from professors, graduate students or PHD candidates looking for research assistants. [Paid or Unpaid]</p>

<hr>

<h4>Customized Mail</h4>

<p>