<div class="row" style="height:60px">

</div>

<div class"row">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-danger" role="alert">
      <span class="sr-only">Error:</span>
        Your Password or Email Address is incorrect
    </div>
  </div>
</div>

<div class="row" style="height:20px">

</div>

<div class"row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well center-block" style="max-width: 300px;">
          <button type="button" class="btn btn-primary btn-block">Signup for an Account</button>
          <button type="button" class="btn btn-default btn-block">Forgot your Password</button>
          <button type="button" class="btn btn-primary btn-block">Sign in with Facebook</button>
        </div>
    </div>
</div>