<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<a href="https://www.facebook.com/pages/Uoft-Web-Development-Club/571896212842252" target="_blank">Follow us on Facebook</a>
<script type="text/javascript">
  $(document).ready(function() {
      if ($('textarea.ckeditor').length > 0) {
          var data = $('textarea.ckeditor');
          $.each(data, function(i) {
		   var editor = CKEDITOR.instances[data[i].id];
		   if (editor) { editor.destroy(true); }
			CKEDITOR.replace(data[i].id);
          });
      }
  });
</script>