<div class="logo">Web Development Club</div>
<div class="loginform">
<form accept-charset="UTF-8" action="/#" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="aaaaaaaaa" />
  <label for="session_id">UserID:</label>
  <input class="form-control" id="session_id"
         name="session[id]" type="text" />
  <label for="session_password">Password:</label>
  <input id="session_password" name="session[password]"
         type="password" />
  <input class="btn btn-primary" name="commit" type="submit"
       value="LogIn" />
</form>
</div>
