<div class="top">
<div class="logo"><%= link_to "Web Development Club", "/home" %></div>
<div class="loginform">
		<% if user_signed_in? %>
				<%= link_to "MY ACCOUNT".html_safe, "/useraccount" %> ::
				<%= link_to("LOGOUT".html_safe, destroy_user_session_path, :method => :delete) %>
		<% else %>
		 		<%= link_to("LOGIN".html_safe, new_user_session_path) %>  
		<% end %>
</form>
</div>
</div>